<main class="main">

<!-- Page Title -->
<div class="page-title">
  <div class="container">
      <!--
    <nav class="breadcrumbs">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">About</li>
      </ol>
    </nav>
      -->
    <h1>$title$</h1>
  </div>
</div><!-- End Page Title -->

<!-- About Section -->
<section id="about" class="section about">

  <div class="container">
    <div class="row">
        <div class="col-sm content">
            $body$
        </div>
    </div>
  </div>

</section><!-- /About Section -->
</main>
