<!-- Hero Section -->
<section id="hero" class="hero section">
  <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
    $if(firstImage)$
        <div class="carousel-item active">
          <img src="$firstImage$" alt="">
          <div class="carousel-container">
            <div class="opacitystrip">
                <h2>$spli-header$</h2>
                <p>$spli-subheader$</p>
            </div>
          </div>
        </div>
    $endif$
    $for(images)$
        <div class="carousel-item">
          <img src="$url$" alt="">
          <div class="carousel-container">
            <div class="opacitystrip">
                <h2>$spli-header$</h2>
                <p>$spli-subheader$</p>
            </div>
          </div>
        </div>
    $endfor$
    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>
  </div>

  <div class="featured container">
    <div class="row gy-4">
      <div class="col-lg-4 d-flex">
        <div class="featured-item position-relative">
          <div class="icon"><i class="fa-solid fa-chalkboard-user"></i></div>
          <h4><a href="/spls" class="stretched-link">SPLS</a></h4>
          <p>The Scottish Programming Languages Seminar (SPLS) is a forum for discussion of all aspects of programming languages. We meet for a day or afternoon once every few months, at some congenial location in Scotland. Talks by Scots and by visitors are welcome. </p>
        </div>
      </div><!-- End Featured Item -->

      <div class="col-lg-4 d-flex">
        <div class="featured-item position-relative">
          <div class="icon"><i class="fa-solid fa-graduation-cap"></i></div>
          <h4><a href="/splv" class="stretched-link">SPLV</a></h4>
          <p>The Scottish Programming Languages and Verification Summer School (SPLV) provides core and advanced classes that cover foundational as well as state of the art knowledge on the underlying principles needed to use or design new languages and verifying program correctness.</p>
        </div>
      </div><!-- End Featured Item -->

      <div class="col-lg-4 d-flex">
        <div class="featured-item position-relative">
          <div class="icon"><i class="fa-regular fa-comments"></i></div>
          <h4><a href="https://spls.zulipchat.com/" class="stretched-link">Zulip</a></h4>
          <p>The Scottish Programming Languages Zulip instance facilitates programming languages-related discussion amongst SPLI members.</p>
        </div>
      </div><!-- End Featured Item -->

    </div>

  </div>

</section><!-- /Hero Section -->

<!-- About Section -->
<section id="about" class="section about">

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="/assets/img/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 order-2 order-lg-1 content">
        <h2>$title$</h2>
        $body$
      </div>
    </div>

  </div>

</section><!-- /About Section -->
