  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container">
        <h1>PhD Opportunities</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <div class="container">
      <p>
      SPLI coordinates events and networking opportunities for PhD students from all of our member institutions. Many academics at our member institutions are open to new PhD students in various areas related to Programming Languages research. Below we list possible supervisors from our member institutions as well as a brief description of their research interests.
      </p>

      <p>
      If you are interested, please get in contact with a supervisor directly.
      </p>

          $institutions$
      </div>

    </section><!-- /Team Section -->

  </main>

